---
---
@import url("pygments.css");

/* --- General --- */

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    color: #404040;
    position: relative;
    background: #FFF;
}

p {
    line-height: 1.5;
    margin: 30px 0;

    a {
        /* text-decoration: underline */
        color: #2783bf;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    color: #2783bf;

    &:hover, &:focus {
        color: #2783bf;
    }
}

blockquote {
    color: #808080;
    font-style: italic;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: inherit;
    border-radius: 3px;
}

.main-content {
    padding-top: 80px;
}

@media only screen and (min-width: 768px) {
    .main-content {
        padding-top: 130px;
    }
}

.main-explain-area {
    padding: 15px inherit;
}

.hideme {
    display: none;
}

::-moz-selection, ::selection {
    color: white;
    text-shadow: none;
    background: #0085a1;
}

img {
    &::selection, &::-moz-selection {
        color: white;
        background: transparent;
    }

    max-width: 100%;
}

.disqus-comments {
    margin-top: 30px;
}

@media only screen and (min-width: 768px) {
    .disqus-comments {
        margin-top: 40px;
    }
}

.archives {
    ul {
        list-style-type: square;
    }

    .archive-list li {
        padding-bottom: 0.5rem;
    }

    li {
        font-size: 12pt;
    }

    .title {
        font-size: 14pt;
    }
}

.archives .post-meta .list-inline li {
    font-size: 12pt;
}

.post-meta {
    .list-inline {
        li:not(:last-child):after {
            margin-left: 10px;
            content: "\2022";
        }

        &.social-sharing li:after {
            content: "";
            margin-left: 0;
        }
    }

    .mdl2 {
        font-size: 18px;
        vertical-align: middle;
    }
}

.title {
    font-size: 16pt;
}

/* --- Navbar --- */

.navbar-custom {
    background: #151F26;
    border-bottom: 1px solid #223A49;

    .nav li a {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
    }

    .navbar-brand, .nav li a {
        font-weight: 700;
        color: #2783bf;
    }

    .navbar-brand {
        &:hover, &:focus {
            color: #2783bf;
        }
    }

    .nav li a {
        &:hover, &:focus {
            color: #2783bf;
        }
    }

    .avatar-container {
        opacity: 1;
        position: absolute;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
        left: 50%;
        width: 50px;
        margin-top: -25px;

        .avatar-img-border {
            width: 100%;
            border-radius: 50%;
            margin-left: -50%;
            display: inline-block;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
            -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        }

        .avatar-img {
            width: 100%;
            border-radius: 50%;
            display: block;
        }
    }

    &.top-nav-short .avatar-container {
        opacity: 0;
    }

    &.top-nav-expanded .avatar-container {
        display: none;
    }

    .nav {
        .navlinks-container {
            position: relative;
        }

        .navlinks-parent:after {
            content: " \25BC";
        }

        .navlinks-children {
            width: 100%;
            display: none;
            word-break: break-word;
        }

        .navlinks-container .navlinks-children a {
            display: block;
            padding: 10px;
            padding-left: 30px;
            background: #f5f5f5;
            text-decoration: none !important;
            border-width: 0 1px 1px 1px;
            font-weight: normal;
        }
    }
}

@media only screen and (min-width: 768px) {
    .navbar-custom {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;

        &.top-nav-short {
            padding: 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    .navbar-custom .avatar-container {
        width: 100px;
        margin-top: -50px;

        .avatar-img-border {
            width: 100%;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
            -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
            -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
        }

        .avatar-img {
            width: 100%;
        }
    }
}

/* Multi-level navigation links */

@media only screen and (max-width: 767px) {
    .navbar-custom .nav .navlinks-container.show-children {
        background: #eee;

        .navlinks-children {
            display: block;
        }
    }
}

@media only screen and (min-width: 768px) {
    .navbar-custom .nav {
        .navlinks-container:hover {
            background: #eee;

            .navlinks-children {
                display: block;
            }
        }

        .navlinks-children {
            position: absolute;
            text-align: center;
        }

        .navlinks-container .navlinks-children a {
            padding-left: 10px;
            border: 1px solid #eaeaea;
            border-width: 0 1px 1px;
        }
    }
}

.navbar-default .navbar-nav > .active > a {
    border-bottom: 3px solid #296887;
    padding-bottom: 0;
    background-color: inherit;
    color: #2783bf;

    &:focus, &:hover {
        border-bottom: 3px solid #296887;
        padding-bottom: 0;
        background-color: inherit;
        color: #2783bf;
    }
}

/* --- Footer --- */

footer {
    padding: 30px 0;
    background: #F5F5F5;
    border-top: 1px #EAEAEA solid;
    margin-top: 50px;
    font-size: 14px;

    a {
        color: #404040;
    }

    .list-inline {
        margin: 0;
        padding: 0;
    }

    .copyright {
        text-align: center;
        margin-bottom: 0;
    }

    .theme-by {
        text-align: center;
        margin: 10px 0 0;
    }
}

@media only screen and (min-width: 768px) {
    footer {
        padding: 50px 0;

        .footer-links {
            font-size: 18px;
        }

        .copyright {
            font-size: 16px;
        }
    }
}

/* --- Post preview --- */

.post-preview {
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    &:last-child {
        border-bottom: 0;
    }

    a {
        text-decoration: none;
        color: #404040;

        &:focus, &:hover {
            text-decoration: none;
            color: #0085a1;
        }
    }

    .post-title {
        font-size: 30px;
        margin-top: 0;
    }

    .post-subtitle {
        margin: 0;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .post-read-more {
        font-weight: 700;
    }
}

@media only screen and (min-width: 768px) {
    .post-preview {
        padding: 35px 0;
    }
}

@media only screen and (min-width: 768px) {
    .post-preview .post-title {
        font-size: 36px;
    }
}

/* --- Post and page headers --- */

.intro-header {
    margin: 80px 0 20px;
    position: relative;

    &.big-img {
        background: no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        margin-top: 51px;
        /* The small navbar is 50px tall + 1px border */
        margin-bottom: 35px;

        .big-img-transition {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            -webkit-transition: opacity 1s linear;
            -moz-transition: opacity 1s linear;
            transition: opacity 1s linear;
        }
    }

    .page-heading {
        text-align: center;
    }

    &.big-img {
        .page-heading, .post-heading {
            padding: 100px 0;
            color: #FFF;
            text-shadow: 1px 1px 3px #000;
        }
    }

    .page-heading h1 {
        margin-top: 0;
        font-size: 50px;
    }

    .post-heading h1 {
        margin-top: 0;
        font-size: 35px;
    }

    .page-heading .page-subheading {
        font-size: 27px;
        line-height: 1.1;
        display: block;
        font-weight: 400;
        margin: 10px 0 0;
    }

    .post-heading .post-subheading {
        font-size: 27px;
        line-height: 1.1;
        display: block;
        font-weight: 400;
        margin: 10px 0 0;
        margin-bottom: 20px;
    }

    &.big-img {
        .page-heading .page-subheading, .post-heading .post-subheading {
            font-weight: 400;
        }

        .page-heading hr {
            box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            -moz-box-shadow: 1px 1px 3px #000;
        }

        .post-heading .post-meta {
            color: #EEE;
        }

        .img-desc {
            background: rgba(30, 30, 30, 0.6);
            position: absolute;
            padding: 5px 10px;
            font-size: 11px;
            color: #EEE;
            right: 0;
            bottom: 0;
            display: none;
        }
    }
}

@media only screen and (min-width: 768px) {
    .intro-header {
        margin-top: 130px;

        &.big-img {
            margin-top: 91px;
            /* Full navbar is small navbar + 20px padding on each side when expanded */
            .page-heading, .post-heading {
                padding: 150px 0;
            }
        }

        .page-heading h1 {
            font-size: 80px;
        }

        .post-heading h1 {
            font-size: 50px;
        }

        &.big-img .img-desc {
            font-size: 14px;
        }
    }
}

.header-section.has-img {
    .no-img {
        margin-top: 0;
        background: #FCFCFC;
        margin: 0 0 40px;
        padding: 20px 0;
        box-shadow: 0 0 5px #AAA;
    }

    .intro-header.no-img {
        display: none;
    }
}

/* Many phones are 320 or 360px, so make sure images are a proper aspect ratio in those cases */

@media only screen and (max-width: 365px) {
    .header-section.has-img .intro-header.no-img {
        display: block;
    }

    .intro-header.big-img {
        width: 100%;
        height: 220px;

        .page-heading, .post-heading {
            display: none;
        }
    }

    .header-section.has-img .big-img {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 325px) {
    .intro-header.big-img {
        height: 200px;
    }
}

.caption {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    font-style: italic;
    margin: 0;
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* --- Pager --- */

.pager {
    li a {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 10px 5px;
        background: #FFF;
        border-radius: 0;
        color: #404040;

        &:hover, &:focus {
            color: #FFF;
            background: #0085a1;
            border: 1px solid #0085a1;
        }
    }

    margin: 10px 0 0;

    &.blog-pager {
        margin-top: 0;
    }
}

@media only screen and (min-width: 768px) {
    .pager li a {
        padding: 15px 25px;
    }
}

@media only screen and (min-width: 768px) {
    .pager.blog-pager {
        margin-top: 10px;
    }
}

/* --- Tables --- */

table {
    padding: 0;

    tr {
        border-top: 1px solid #cccccc;
        background-color: #ffffff;
        margin: 0;
        padding: 0;

        &:nth-child(2n) {
            background-color: #f8f8f8;
        }

        th {
            font-weight: bold;
            border: 1px solid #cccccc;
            text-align: left;
            margin: 0;
            padding: 6px 13px;
        }

        td {
            border: 1px solid #cccccc;
            text-align: left;
            margin: 0;
            padding: 6px 13px;
        }

        th :first-child, td :first-child {
            margin-top: 0;
        }

        th :last-child, td :last-child {
            margin-bottom: 0;
        }
    }
}

.hr-divider {
    width: 75%;
}
