---
---
@import url("pygments.css");

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$body-font-family: 'Titillium Web', sans-serif;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25);
$font-size-md: ($font-size-base * 1.125);
$font-size-sm: ($font-size-base * .875);

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$border-width: 1px;
$border-radius: 4px;
$border-color: rgba($black,.125) !default;

$text-color: #404040;
$link-color: #0058A6;
$link-highlight-color: lighten($link-color, 10%);
$card-img-overlay-width: 4.5rem;

$content-top-margin: 6rem;

$code-font-size: 90% !default;
$code-padding: .5rem !default;
$code-margin: .5rem !default;
$code-color: $gray-900 !default;
$code-bg: $gray-100 !default;

body {
    font-family: $body-font-family !important;
    font-size: $font-size-md;
    color: $text-color;
    position: relative;
    background: $white;
}

.main-content {
    margin-top: $content-top-margin !important;
}

.accordion {
    > .card {
        overflow: hidden;

        &:not(:first-of-type) {
            .card-header:first-child {
                border-radius: $border-radius;
            }

            &:not(:last-of-type) {
                border-bottom: $border-width solid $border-color;
                border-radius: $border-radius;
            }
        }

        &:first-of-type {
            border-bottom: $border-width solid $border-color;
            border-radius: $border-radius;
        }

        &:last-of-type {
            border-radius: $border-radius;
        }

        .card-header {
            margin-bottom: -$border-width;
        }
    }
}

.list-group-item {
    border: none;
    border-bottom: ($border-width * 2) solid $gray-200;

    &:last-child {
        border-bottom-width: $border-width;
    }
}

.list-group-compressed {
    .list-group-item {
        border: none;
        padding-top: 0.5rem !important;
        padding-bottom: 0.25rem !important;
    }
}

.social-sharing-list-item {
    font-size: $h5-font-size;
}

a {
    color: $link-color;

    &:hover, &:focus {
        text-decoration: none;
        color: $link-highlight-color;
    }
}

footer {
    font-size: $font-size-sm;

    .list-inline {
        font-size: $h2-font-size;
    }

    a {
        color: $text-color;
        font-weight: $font-weight-bold;
    }
}

.utterances, .utterances-frame {
    width: 100% !important;
}

article img {
    max-width: 100%;
    height: auto;
}

pre {
    padding: $code-padding;
    margin-bottom: $code-margin;
    word-break: break-all;
    word-wrap: break-word;
    background-color: $gray-100;
    border: $border-width solid $gray-400;
    border-radius: $border-radius;
}

.card-img-overlay {
    z-index: -1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    width: $card-img-overlay-width;
}

.card-img-overlay-hidden {
    opacity: 0;
}

@media only screen and (min-width: 768px) {
    .card-img-overlay {
        margin-left: -8rem !important;
        width: ceil($card-img-overlay-width + ($card-img-overlay-width * 0.33));
    }
}

@media only screen and (max-width: 576px) {
    .card-img-overlay {
        margin-left: 2rem !important;
    }
}
