---
---
;

@import "_variables.scss";
@import "_functions.scss";
@import "_mixins.scss";

body {
    font-family: $body-font-family !important;
    font-size: $font-size-md;
    color: $text-color;
    position: relative;
    background: $white;
}

.main-content {
    margin-top: $content-top-margin !important;
}

.accordion {
    > .card {
        overflow: hidden;

        &:not(:first-of-type) {
            .card-header:first-child {
                border-radius: $border-radius;
            }

            &:not(:last-of-type) {
                border-bottom: $border-width solid $border-color;
                border-radius: $border-radius;
            }
        }

        &:first-of-type {
            border-bottom: $border-width solid $border-color;
            border-radius: $border-radius;
        }

        &:last-of-type {
            border-radius: $border-radius;
        }

        .card-header {
            margin-bottom: -$border-width;
        }
    }
}

.list-group-item {
    border: none;
    border-bottom: ($border-width * 2) solid $gray-200;

    &:last-child {
        border-bottom-width: $border-width;
    }
}

.list-group-compressed {
    .list-group-item {
        border: none;
        padding-top: 0.5rem !important;
        padding-bottom: 0.25rem !important;
    }
}

.social-sharing-list-item {
    font-size: $h5-font-size;
}

a {
    color: $link-color;

    &:hover, &:focus {
        text-decoration: none;
        color: $link-highlight-color;
    }
}

footer {
    font-size: $font-size-sm;

    .list-inline {
        font-size: $h2-font-size;
    }

    a {
        color: $text-color;
        font-weight: $font-weight-bold;
    }
}

.icon-list {
    a {
        font-weight: normal;
    }
}

.utterances, .utterances-frame {
    width: 100% !important;
}

article img {
    max-width: 100%;
    height: auto;
}

pre {
    padding: $code-padding;
    margin-bottom: $code-margin;
    word-break: break-all;
    word-wrap: break-word;
    background-color: $gray-100;
    border: $border-width solid $gray-400;
    border-radius: $border-radius;
}

.card-img-overlay {
    z-index: -1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    width: $card-img-overlay-width;
}

.card-img-overlay-hidden {
    opacity: 0;
}

@media only screen and (min-width: 768px) {
    .card-img-overlay {
        margin-left: -8rem !important;
        width: ceil($card-img-overlay-width + ($card-img-overlay-width * 0.33));
    }
}

@media only screen and (max-width: 576px) {
    .card-img-overlay {
        margin-left: 2rem !important;
    }
}

%box {
    padding: $box-padding;
    padding-bottom: $box-padding - 5;
    margin: $box-margin;
    margin-left: $box-margin / 4;
    border: $border-width solid $border-color;
    border-left-width: $border-width * 6.5;
    border-radius: $border-radius;
}

@each $color, $value in $theme-colors {
    .box-#{$color} {
        @extend %box;
        @include box-variant($color);
    }
}

.gist, .gist-file table tr {
    border: unset;

    td {
        border: unset;
    }
}

table {
    padding: 0;

    tr {
        border-top: $border-width solid $border-color;
        background-color: $white;
        margin: 0;
        padding: 0;

        &:nth-child(2n) {
            background-color: $gray-200;
        }

        & th {
            font-weight: $font-weight-bold;
            border: $border-width solid $border-color;
            text-align: left;
            margin: 0;
            padding: $table-padding / 2 $table-padding;

            :first-child {
                margin-top: 0;
            }

            :last-child {
                margin-bottom: 0;
            }
        }

        td {
            border: $border-width solid $border-color;
            text-align: left;
            margin: 0;
            padding: $table-padding / 2 $table-padding;

            :first-child {
                margin-top: 0;
            }

            :last-child {
                margin-bottom: 0;
            }
        }
    }
}

::-moz-selection {
    color: $white;
    text-shadow: none;
    background-color: $link-highlight-color;
}

::selection {
    color: $white;
    text-shadow: none;
    background-color: $link-highlight-color;
}

img::selection {
    color: $white;
    background: transparent;
}

img::-moz-selection {
    color: $white;
    background: transparent;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: inherit;
    border-radius: 3px;
}

.jumbotron {
    margin-top: 2rem;
    margin-bottom: 0;
}

.header {
    margin-top: $content-top-margin;
}

.post {
    .header {
        margin-top: $content-top-margin;
    }
}

.post-title {
    font-size: $post-title-size;
    font-weight: $font-weight-bolder;
}

.post-subtitle {
    font-size: $post-subtitle-size;
    font-weight: $font-weight-light;
}

blockquote {
    color: $gray-600;
    font-style: italic;
    border-left: $border-width * 6.5 solid $gray-400;
    padding-left: $box-padding;

    p:first-child {
        margin-top: 0;
    }
}
