---
layout: page
title: Tags
---

<div itemscope itemtype="http://schema.org/Blog">
    <nav class="nav nav-pills">
        {% for tag in site.tags %}
        <a href="#{{ tag[0] | slugify }}" class="nav-link smoothScroll">{{ tag[0] }}</a>
        {% endfor %}
    </nav>
    <hr />

    {% for tag in site.tags %}
    <fieldset id="{{ tag[0] | slugify }}">
        <legend class="border-bottom">{{ tag[0] }}</legend>
        <div class="list-group list-group-compressed">
            {% for post in tag[1] %}
            <div class="list-group-item">
                <article class="w-100 justify-content-between">
                    <a href="{{ post.url }}">{{post.title}}</a>
                    {% include post/meta_index.html show_tags="false" %}
                </article>
            </div>
            {% endfor %}
        </div>
    </fieldset>
    {% endfor %}
</div>