{%- assign posts = include.collection -%}
{%- if include.show_tags -%}
{%- assign show_tags = true -%}
{%- else -%}
{%- assign show_tags = false -%}
{%- endif -%}

<div class="list-group list-group-compressed">
    {%- for post in posts -%}
    <div class="list-group-item">
        <article class="w-100 justify-content-between">
            <a href="{{ post.url }}">{{post.title}}</a>
            {% include post/meta_index.html show_tags=show_tags %}
        </article>
    </div>
    {%- endfor -%}
</div>
