<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" area-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}">
          <a href="{{ site.baseurl }}">Home{% if page.url == site.baseurl %} <span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        
        {% comment %}
          The code below dynamically generates a sidebar nav of pages with
          `layout: page` in the front-matter. See readme for usage.
        {% endcomment %}
        
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" and node.nav-include != false %}
              <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
                <a href="{{ node.url }}">{{ node.title }}{% if page.url == site.baseurl %} <span class="sr-only">(current)</span>{% endif %}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>

	{% if site.avatar and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ site.url }} ">
	      <img class="avatar-img" src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
		</a>
	  </div>
	</div>
	{% endif %}

  </div>
</nav>
