<div class="sharing">
   <span class="mdl2 mdl2-share"></span>
    <a rel="nofollow" target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.author.twitter }}&related={{ site.author.twitter }}"><span class="fa fa-twitter"></span></a>
    <a rel="nofollow" target="_blank" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"><span class="fa fa-facebook"></span></a>
    <a rel="nofollow" target="_blank" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"><span class="fa fa-gplus"</span></a>
    <a rel="nofollow" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}&title={{ page.title }}&summary={{ post.content | truncatewords: 50 | strip_html | xml_escape}}&source={{ site.url }}"><span class="fa fa-linkedin"></span></a>
    <a rel="nofollow" target="_blank" href="http://www.reddit.com/submit?url={{ page.url }}&title={{ page.title }}"><span class="fa fa-reddit"></span></a>
</div>